<link href="{{asset('assets')}}/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />

<!--RTL version:<link href="{{asset('assets')}}/vendors/custom/fullcalendar/fullcalendar.bundle.rtl.css" rel="stylesheet" type="text/css" />-->

<!--end::Page Vendors Styles -->

<!--begin::Base Styles -->
<link href="{{asset('assets')}}/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />

<!--RTL version:<link href="{{asset('assets')}}/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
<link href="{{asset('assets')}}/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />

<!--RTL version:<link href="{{asset('assets')}}/demo/default/base/style.bundle.rtl.css" rel="stylesheet" type="text/css" />-->

<!--end::Base Styles -->
<link rel="shortcut icon" href="{{asset('assets')}}/demo/default/media/img/logo/favicon.ico" />
<!--begin::Form-->
<div class="m-portlet m-portlet--tab">
    <form role="form" class="m-form m-form--fit m-form--label-align-right" name="image" action="{{ path('admin_image_new', {'id': id}) }}" method="post" enctype="multipart/form-data">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <label for="example-text-input" class="col-2 col-form-label">Title</label>
                <div class="col-10">
                    <input class="form-control m-input" type="text" value="Artisanal kale" id="image_title" name="image[title]" maxlength="50">
                    <input type="hidden" id="image_product" name="image[product]" class="form-control" value="{{ id }}">
                </div>
            </div>
            <div class="form-group m-form__group">
                <label for="exampleInputEmail1">Galery Image</label>
                <div></div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="image_image" name="image[image]">
                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Image</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.title }}</td>
                <td><img src="{{ asset('uploads/images/' ~ image.image) }}" height="60"></td>
                <td>
                    <form method="post" action="{{ path('admin_image_delete', {'id': image.id, 'pid': id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
                        <button class="btn btn-block btn-danger">Delete</button>
                    </form>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!--end::Form-->

