{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">Modal</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">Base</span>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">Modal</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                    <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                        <i class="la la-plus m--hide"></i>
                        <i class="la la-ellipsis-h"></i>
                    </a>
                    <div class="m-dropdown__wrapper">
                        <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                        <div class="m-dropdown__inner">
                            <div class="m-dropdown__body">
                                <div class="m-dropdown__content">
                                    <ul class="m-nav">
                                        <li class="m-nav__section m-nav__section--first m--hide">
                                            <span class="m-nav__section-text">Quick Actions</span>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-share"></i>
                                                <span class="m-nav__link-text">Activity</span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                <span class="m-nav__link-text">Messages</span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-info"></i>
                                                <span class="m-nav__link-text">FAQ</span>
                                            </a>
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="" class="m-nav__link">
                                                <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                <span class="m-nav__link-text">Support</span>
                                            </a>
                                        </li>
                                        <li class="m-nav__separator m-nav__separator--fit">
                                        </li>
                                        <li class="m-nav__item">
                                            <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">Submit</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END: Subheader -->
    <div class="m-content">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Modal Demos
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <h1>Setting</h1>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ setting.id }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ setting.title }}</td>
                    </tr>
                    <tr>
                        <th>Keywords</th>
                        <td>{{ setting.keywords }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ setting.description }}</td>
                    </tr>
                    <tr>
                        <th>Company</th>
                        <td>{{ setting.company }}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{ setting.address }}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{ setting.phone }}</td>
                    </tr>
                    <tr>
                        <th>Fax</th>
                        <td>{{ setting.fax }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ setting.email }}</td>
                    </tr>
                    <tr>
                        <th>Smtpserver</th>
                        <td>{{ setting.smtpserver }}</td>
                    </tr>
                    <tr>
                        <th>Smtpemail</th>
                        <td>{{ setting.smtpemail }}</td>
                    </tr>
                    <tr>
                        <th>Smtppassword</th>
                        <td>{{ setting.smtppassword }}</td>
                    </tr>
                    <tr>
                        <th>Smtpport</th>
                        <td>{{ setting.smtpport }}</td>
                    </tr>
                    <tr>
                        <th>Facebook</th>
                        <td>{{ setting.facebook }}</td>
                    </tr>
                    <tr>
                        <th>Instagram</th>
                        <td>{{ setting.instagram }}</td>
                    </tr>
                    <tr>
                        <th>Twitter</th>
                        <td>{{ setting.twitter }}</td>
                    </tr>
                    <tr>
                        <th>Aboutus</th>
                        <td>{{ setting.aboutus|raw }}</td>
                    </tr>
                    <tr>
                        <th>Contact</th>
                        <td>{{ setting.contact|raw  }}</td>
                    </tr>
                    <tr>
                        <th>Reference</th>
                        <td>{{ setting.reference|raw  }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ setting.status }}</td>
                    </tr>
                    </tbody>
                </table>

                <a href="{{ path('setting_index') }}" class="btn btn-info">Back to List</a>
                <br>
                <a href="{{ path('setting_edit', {'id': setting.id}) }}" class="btn btn-success">Edit</a>
            </div>
        </div>
        <!--end::Portlet-->
        <!--begin::Modal-->
        <div class="modaa fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

        </div>

    </div>


{% endblock %}

