{% extends 'adminbase.html.twig' %}

{% block title %}Messages index{% endblock %}

{% block body %}
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">Product List Page</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="/admin" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="/admin" class="m-nav__link">
                            <span class="m-nav__link-text">Home</span>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">Product</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- END: Subheader -->
    <div class="m-content">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Product List
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>Status</th>
                        <th>Ip</th>
                        <th>Note</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for message in messages %}
                        <tr>
                            <td>{{ message.id }}</td>
                            <td>{{ message.name }}</td>
                            <td>{{ message.subject }}</td>
                            <td>{{ message.message }}</td>
                            <td>{{ message.status }}</td>
                            <td>{{ message.ip }}</td>
                            <td>{{ message.note }}</td>
                            <td>
                                <a href="{{ path('admin_messages_show', {'id': message.id}) }}" class="btn btn-block btn-info">Show</a>
                            </td>
                            <td>
                                <a href="{{ path('admin_messages_edit', {'id': message.id}) }}" class="btn btn-block btn-info">Edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
