{% extends 'adminbase.html.twig' %}

{% block title %}Messages index{% endblock %}

{% block body %}
    <SCRIPT language="JavaScript" type="text/javascript">
        function openWin(windowsURL, windowName, windowFeatures ) { window.open(windowsURL, windowName,windowFeatures); }
    </SCRIPT>
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">Order List Page</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="/admin" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="/admin" class="m-nav__link">
                            <span class="m-nav__link-text">Home</span>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">Product</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- END: Subheader -->
    <div class="m-content">

        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Order List
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <h3>Order List</h3>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Userid</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Phone</th>
                        <th>Shipinfo</th>
                        <th>Note</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.userid }}</td>
                            <td>{{ order.name }}</td>
                            <td>{{ order.amount }}</td>
                            <td>{{ order.address }}</td>
                            <td>{{ order.city }}</td>
                            <td>{{ order.phone }}</td>
                            <td>{{ order.shipinfo }}</td>
                            <td>{{ order.note }}</td>
                            <td>{{ order.status }}</td>
                            <td>

                                <a href="javascript:openWin('{{ path('admin_orders_show', {'id': order.id}) }}','','toolbar=no,location=no,directories=0,status=no,top=50,left=100,menuBar=no,scrollBars=yes,resizable=no,width=900,height=600');" class="btn btn-info">Show</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="13">no records found</td>
                        </tr>
                    {% endfor %}

                    </tbody>

                </table>
            </div>
        </div>
    </div>
{% endblock %}

