{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }} Profile{% endblock %}

{% block body %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        {{ include('user/usermenu.html.twig') }}
                    </div>
                </div>
                <div class="col-sm-9 padding-right">

                    <div class="left-sidebar">
                        <div class="brands_products"><!--brands_products-->
                            <h2>User Product Detail</h2>

                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>Id</th>
                                    <td>{{ product.id }}</td>
                                </tr>
                                <tr>
                                    <th>Title</th>
                                    <td>{{ product.title }}</td>
                                </tr>
                                <tr>
                                    <th>Keywords</th>
                                    <td>{{ product.keywords }}</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>{{ product.description }}</td>
                                </tr>
                                <tr>
                                    <th>Image</th>
                                    <td>{{ product.image }}</td>
                                </tr>
                                <tr>
                                    <th>Amount</th>
                                    <td>{{ product.amount }}</td>
                                </tr>
                                <tr>
                                    <th>Detail</th>
                                    <td>{{ product.detail }}</td>
                                </tr>
                                <tr>
                                    <th>Price</th>
                                    <td>{{ product.price }}</td>
                                </tr>
                                <tr>
                                    <th>Type</th>
                                    <td>{{ product.type }}</td>
                                </tr>
                                <tr>
                                    <th>Year</th>
                                    <td>{{ product.year }}</td>
                                </tr>
                                <tr>
                                    <th>Writer</th>
                                    <td>{{ product.writer }}</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>{{ product.status }}</td>
                                </tr>
                                <tr>
                                    <th>Created_at</th>
                                    <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Updated_at</th>
                                    <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Userid</th>
                                    <td>{{ product.userid }}</td>
                                </tr>
                                </tbody>
                            </table>

                            <a href="{{ path('user_product_index') }}" class="btn btn-info">Back to List</a>

                            <a href="{{ path('user_product_edit', {'id': product.id}) }}" class="btn btn-success">Edit</a>

                            {{ include('product/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
